$color-main-dark: #4b6580;
$color-main-light: #5a9ca1;
$color-gradient: linear-gradient(to right, #4b6580 12%, #4b6580 12%, #5a9ca1 100%);

$color-text-dark: #333333;
$color-text-light: #c8c8c8;

$color-background-dark: #333333;
$color-background-light: #e8e8e8;

$width-main: 1200px;
$padding-main: calc((100% - #{$width-main}) / 2);
$padding-top: 70px;

$height-header: 60px;
$height-mainBanner: 350px;

$font-title-extraBold: "NanumSquareExtraBold";
$font-title-bold: "NanumSquareBold";
$font-title-regular: "NanumSquareRegualr";
$font-title-light: "NanumSquareLight";

$font-text-bold: "NotoSansBold";
$font-text-regular: "NotoSansRegular";
$font-text-light: "NotoSansLight";

$font-arrow: "Handon";
$font-ink: "InkLipquid";
$font-black: "BlackHanSans";

$font-size-title: 20px;
$font-size-subtitle: 16px;

@mixin flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-box-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin overlay {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.total-wrap {
  font-family: $font-text-regular;
  color: $color-text-dark;

  .link {
    text-decoration: none;
    color: inherit;

    &:hover {
      cursor: pointer;
    }
  }
}