$color-main-dark: #4b6580;
$color-main-light: #5a9ca1;
$color-gradient: linear-gradient(to right,  #4b6580 12%,#4b6580 12%,#5a9ca1 100%);

$color-text-dark: #333333;
$color-text-light: #c8c8c8;

$color-background-dark: #333333;
$color-background-light: #e8e8e8;

$width-main: 1200px;
$padding-main: calc((100% - #{$width-main}) / 2);

$height-header: 60px;
$height-mainBanner: 350px;

$font-title-bold: "NanumSquareBold";
$font-title-regular: "NanumSquareRegualr";
$font-title-light: "NanumSquareLight";

$font-text-bold: "NotoSansBold";
$font-text-regular: "NotoSansRegular";
$font-text-light: "NotoSansLight";

@mixin flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//div {
//  border: 1px solid #cccccc;
//  box-sizing: border-box;
//}

#total-wrap {
  margin: 0;
  padding: 0;
  font-family: $font-text-regular;

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      cursor: pointer;
    }
  }
}

header {
  @include flex-box;
  height: $height-header;
  padding: 0 $padding-main;
  background: $color-gradient;

  .logo {
    font-family: $font-title-bold;
    font-size: 20px;
    color: white;
    span {
      font-family: $font-title-regular;
    }
  }
  .nav {
    display: flex;
    font-family: $font-title-regular;
    font-size: 14px;
    color: white;

    .nav-item {
      opacity: 0.8;
      margin-left: 40px;
      &:hover {
        font-family: $font-title-bold;
        opacity: 1;
      }
    }
  }
  .logout {
    width: 87px;
    height: 32px;
    text-align: center;
    line-height: 32px;

    border: 1px solid white;
    border-radius: 100px;

    font-family: $font-title-bold;
    font-size: 14px;
    color: white;

    transition-duration: 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.07); // white
    }
  }
}
main-banner {
  @include flex-box;
  height: $height-mainBanner;
  padding: 0 $padding-main;
  background: $color-background-light;

  .catchphrase {
    font-family: $font-title-regular;
    font-size: 30px;
    line-height: 45px;
    margin: 20px 0 40px;
    span {
      font-family: $font-title-bold;
    }
  }
  .button {
    width: 220px;
    height: 45px;
    text-align: center;
    line-height: 45px;

    border-radius: 100px;
    background-color: $color-main-dark;

    font-family: $font-title-bold;
    font-size: 18px;
    color: white;

    &:hover > .overlay {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background-color: rgba(0, 0, 0, 0.07);
    }
    .overlay {
      transition-duration: 0.3s;
    }
  }
  .contest-scrap {
    width: 400px;
    height: 180px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
  }
}