@import "src/components/index";

header {
  width: 100%;
  background: $color-gradient;

  .background {
    @include flex-box;
    width: $width-main;
    height: $height-header;
    margin: 0 auto;
  }

  .logo {
    font-family: $font-title-bold;
    font-size: 20px;
    color: white;

    span {
      font-family: $font-title-regular;
    }
  }

  .nav {
    display: flex;
    font-family: $font-title-regular;
    font-size: 14px;
    color: white;

    .nav-item {
      opacity: 0.8;
      margin-left: 40px;

      &:hover {
        font-family: $font-title-bold;
        opacity: 1;
      }
    }
  }

  .header-button {
    height: 35px;
    text-align: center;
    line-height: 35px;

    border: 1px solid white;
    border-radius: 100px;

    font-family: $font-title-bold;
    font-size: 14px;
    color: white;
    text-decoration: none;

    transition-duration: 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.07); // white
    }
  }

  .header-login {
    width: 145px;
  }

  .header-logout {
    width: 87px;
  }
}