@import "../index";


// main-banner

main-banner {
  @include flex-box;
  height: $height-mainBanner;
  padding: 0 $padding-main;
  background: $color-background-light;
  overflow: hidden;

  .catchphrase {
    font-family: $font-title-regular;
    font-size: 30px;
    line-height: 45px;
    margin: 20px 0 40px;

    span {
      font-family: $font-title-bold;
      background: linear-gradient(to top, rgba(75, 101, 128, 0.3) 50%, transparent 50%);
    }
  }

  .button {
    width: 220px;
    height: 45px;
    text-align: center;
    line-height: 45px;

    border-radius: 100px;
    background-color: $color-main-dark;

    font-family: $font-title-bold;
    font-size: 17px;
    color: white;

    &:hover > .overlay {
      @include overlay;
    }

    .overlay {
      transition-duration: 0.3s;
    }
  }

  img {
    width: 400px;
    height: auto;
    position: relative;
    top: 80px;
    right: 200px;
    opacity: 0.7;
  }

  .contest-scrap {
    $width: 380px;
    $padding: 20px;

    @include flex-box-column;
    width: $width;
    height: 220px;
    background-color: white;
    padding: $padding;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);

    .title {
      font-family: $font-text-bold;
      padding-bottom: 5px;
      border-bottom: 1px solid $color-background-light; // 구분선
      width: $width - $padding * 2;
    }

    .content {
      font-family: $font-text-light;
      font-size: 14px;
      padding-top: 10px;
    }

    .more-contest {
      font-family: $font-title-regular;
      font-size: 14px;
      color: $color-text-light;
    }
  }
}

// contest

contest {
  .header {
    @include flex-box;
    padding: $padding-top $padding-main 0;

    .title {
      @include flex-box;
      font-family: $font-title-extraBold;
      font-size: $font-size-title;
      color: $color-main-dark;

      .icon-wrap {
        $size: 26px;

        width: $size;
        height: $size;
        text-align: center;
        line-height: $size;

        margin: -1px 5px 0 0;

        background-color: $color-main-dark;
        border-radius: 100px;

        .icon {
          margin: 0 auto;
          font-size: 12px;
          color: white;
        }
      }

      .subtitle {
        font-family: $font-text-regular;
        font-size: $font-size-subtitle;
        color: $color-text-light;

        margin-left: 10px;
      }
    }

    .more {
      font-family: $font-title-bold;
      font-size: 14px;

      span {
        font-family: $font-arrow;
        color: $color-text-light;
        margin-left: 5px;
      }
    }
  }

  .contest-list {
    padding: 0 $padding-main;
  }
}

// roadmap

.roadmap {
  width: $width-main;
  margin: $padding-top auto;

  .title {
    font-family: $font-title-extraBold;
    font-size: $font-size-title;
  }

  .subtitle {
    @include flex-box;
    margin-top: 5px;

    .text {
      font-family: $font-text-regular;
      font-size: $font-size-subtitle;
      color: $color-text-light;
    }

    .more {
      font-family: $font-title-bold;
      font-size: 14px;

      span {
        font-family: $font-arrow;
        color: $color-text-light;
        margin-left: 5px;
      }
    }
  }

  .video-list {
    @include flex-box;

    .video {
      @include flex-box-column;
      align-items: flex-end;

      width: ($width-main - 30px*2) / 3;
      height: 200px;
      padding: 30px 30px 25px;
      margin-top: 15px;
      background-color: $color-background-light;

      .title {
        font-family: $font-title-regular;
        font-size: 24px;
        line-height: 35px;
        text-align: right;
        margin-bottom: 30px;

        span {
          font-family: $font-title-bold;
        }

        .classification {
          @include flex-box;
          justify-content: flex-end;

          font-family: $font-title-extraBold;
          font-size: 16px;
          color: $color-main-dark;

          .circle {
            $height: 22px;
            width: 40px;
            height: $height;
            text-align: center;
            line-height: $height;

            font-family: $font-text-bold;
            font-size: 12px;

            margin-right: 5px;
            color: white;
            background-color: $color-main-dark;
            border-radius: 100px;
          }
        }
      }

      .video-button {
        $height: 45px;
        width: 180px;
        height: $height;
        text-align: center;
        line-height: $height;

        border: 1px solid $color-text-dark;
        border-radius: 100px;

        font-family: $font-text-bold;
        font-size: 15px;
        overflow: hidden;

        span {
          font-family: $font-arrow;
        }

        &:hover > .overlay {
          @include overlay;
          cursor: pointer;
        }

        .overlay {
          transition-duration: 0.3s;
        }
      }
    }
  }
}

.manual {
  @include flex-box-column;
  justify-content: center;

  width: $width-main;
  height: 120px;
  margin: $padding-top auto 0;
  padding: 0 30px;
  background-color: $color-background-light;

  .subtitle {
    font-family: $font-text-regular;
    font-size: 18px;

    span {
      font-family: $font-ink;
      font-size: 22px;
      color: $color-main-dark;
      margin: 0 8px;
    }
  }

  .title {
    font-family: $font-title-regular;
    font-size: 28px;
    margin-top: 8px;

    span {
      font-family: $font-title-bold;
      background: linear-gradient(to top, rgba(75, 101, 128, 0.3) 50%, transparent 50%);
    }
  }
}