@import "../components/index";


.auth {
  @include flex-box;

  width: 100vw;
  height: 100vh;
  background: $color-gradient;
  overflow: hidden;
}

.image > img {
  width: 650px;
  height: auto;
  opacity: 0.2;

  position: relative;
  left: 1000px;
  top: 200px
}

.auth-wrap {
  width: 440px;
  height: 550px;
  margin-right: 250px;
  padding: 50px;

  background-color: white;
  border-radius: 3px;

  .title {
    font-family: $font-title-extraBold;
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-background-light;
  }
}