@import "../index";


.signup {
  @include flex-box;

  margin: 20px 0;
  font-size: 14px;

  .button {
    $height: 40px;
    width: 170px;
    height: $height;
    text-align: center;
    line-height: $height;

    background-color: $color-main-light;
    border-radius: 100px;

    font-family: $font-title-extraBold;
    font-size: 15px;
    color: white;

    span {
      font-family: $font-arrow;
    }

    &:hover > .overlay {
      @include overlay;
    }

    .overlay {
      transition-duration: 0.3s;
    }
  }
}

.login {
  @include flex-box-column;
  align-items: flex-end;

  padding-top: 25px;
  border-top: 1px solid $color-background-light;

  .input {
    @include flex-box;
    width: 100%;
    margin-bottom: 10px;

    .name {
      font-family: $font-text-bold;
      font-size: 15px;
    }

    input {
      width: 260px;
      height: 30px;
      padding: 0 20px;

      border: none;
      border-radius: 100px;
      background-color: rgba(232, 232, 232, 0.5);

      font-family: $font-text-regular;
      color: $color-text-dark;

      &:focus {
        outline: none;
      }
    }
  }

  button {
    $height: 40px;

    width: 120px;
    height: $height;
    text-align: center;
    line-height: $height;
    margin-top: 5px;

    background-color: $color-main-dark;
    border: none;
    border-radius: 100px;

    font-family: $font-title-extraBold;
    font-size: 15px;
    color: white;
  }
}

.division {
  @include flex-box;
  width: 100%;
  margin-top: 20px;

  .line {
    width: 350px / 2 - 20px;
    height: 4px;
    border-bottom: 1px solid $color-background-light;
  }

  .or {
    font-family: $font-text-light;
    font-size: 15px;
    color: $color-text-light;
  }
}

.social-wrap {
  margin-top: 10px;

  .social {
    @include flex-box;
    justify-content: flex-start;

    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding: 2px 0 2px 100px;

    border: none;
    border-radius: 2px;
    color: white;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
    }

    .icon {
      font-size: 18px;
    }

    .text {
      font-family: $font-text-bold;
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid white;
    }

    &:last-child {
      margin: 0;
    }

  }

  .google {
    background-color: #db4437;
  }

  .naver {
    background-color: #2db400;

    .icon {
      font-family: $font-black;
      font-size: 19px;
      margin: 0 3px 0 2px;
    }
  }

  .github {
    background-color: #333333;

    .icon {
      font-size: 19px;
    }
  }
}