@import "src/components/index";

.overview {
  width: $width-main;
  margin: 30px auto 0;
  border: 1px solid $color-background-light;
  padding: 30px 40px 30px 30px;
}

.main-content {
  $menu-width: 200px;
  $margin: 50px;

  @include flex-box;
  align-items: start;

  menu {
    @include flex-box-column;
    width: $menu-width;

    .title {
      font-family: $font-title-extraBold;
      padding: 0 0 16px 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid $color-text-dark;
    }

    button {
      font-family: $font-title-regular;
      font-size: 16px;
      color: $color-text-light;

      border: none;
      background: white;
      margin: 15px 10px;

      &:hover {
        color: $color-text-dark;
        cursor: pointer;
      }
    }
  }

  contents {
    width: $width-main - $menu-width - $margin - 90px;

    .title {
      font-family: $font-title-extraBold;
      font-size: 24px;
      padding: 0 0 6px 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid $color-text-dark;
    }

    .contents {
      font-family: $font-text-regular;
      font-size: 15px;
      padding: 15px;
    }
  }
}