@import "src/components/index";

.contest {
  $height: 140px;
  $padding: 20px;

  @include flex-box;
  height: $height;
  padding: $padding;
  margin-top: 10px;

  border: 1px solid $color-background-light;

  .content-wrap {
    @include flex-box;

    .contest-image {
      width: $height - $padding * 2;
      height: $height - $padding * 2;
      margin-right: $padding;

      background-color: $color-background-light;
      background-size: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      @include flex-box-column;
      height: $height - $padding * 2;
      padding-top: 5px;

      .title {
        font-family: $font-title-extraBold;
        font-size: 18px;

        span {
          color: $color-main-dark;
          margin-left: 10px;
          background: linear-gradient(to top, rgba(75, 101, 128, 0.3) 50%, transparent 50%);
        }
      }

      .subtitle {
        margin-top: 5px;

        .bar {
          color: $color-text-light;
        }

        .classification {
          font-family: $font-text-bold;
        }
      }

      .summary-wrap {
        @include flex-box;
        justify-content: start;
        font-family: $font-text-bold;
        font-size: 14px;
        color: $color-main-dark;

        .summary {
          @include flex-box;
          margin-right: 20px;

          .icon-wrap {
            $size: 18px;
            width: $size;
            height: $size;
            text-align: center;
            line-height: $size;
            margin-right: 3px;

            background-color: $color-main-dark;
            border-radius: 100px;

            .icon {
              font-size: 9px;
              margin-bottom: 2px;
              color: white;
            }

            .trophy {
              margin-bottom: 1px;
            }
          }
        }
      }
    }
  }

  .participate {
    @include flex-box-column;
    height: $height - $padding * 2;
    align-items: flex-end;

    .top-side {
      @include flex-box;

      .difficulty {
        @include flex-box;
        font-family: $font-title-extraBold;
        font-size: 14px;
        margin: 3px 15px 0 0;

        .circle {
          $size: 12px;
          width: $size;
          height: $size;
          background-color: #c8c8c8;
          border-radius: 100px;
          margin-right: 3px;
        }
      }

      .scrap {
        color: $color-main-light;
      }
    }

    .button {
      font-family: $font-title-extraBold;
      font-size: 15px;
      color: white;

      width: 110px;
      height: 38px;
      text-align: center;
      line-height: 38px;

      background-color: $color-main-light;
      border-radius: 100px;

      &:hover > .overlay {
        @include overlay;
      }

      .overlay {
        transition-duration: 0.3s;
      }
    }
  }
}